In [30]:
# Now test bar visualization.
from bokeh.charts import Bar, output_file, show, hplot

# best support is with data in a format that is table-like
data = {
    'sample': ['1st', '2nd', '1st', '2nd', '1st', '2nd'],
    'interpreter': ['python', 'python', 'pypy', 'pypy', 'jython', 'jython'],
    'timing': [-2, 5, 12, 40, 22, 30]
}

# x-axis labels pulled from the interpreter column, stacking labels from sample column
bar = Bar(data, values='timing', label='interpreter', group='sample',
          title="Python Interpreter Sampling", legend='top_right', width=400)

# table-like data results in reconfiguration of the chart with no data manipulation
bar2 = Bar(data, values='timing', label=['interpreter', 'sample'],
           agg='mean', title="Python Interpreters", width=400)

output_file("stacked_bar.html")
show(hplot(bar, bar2))

In [3]:

corr_arr_train, mae_arr_train, mse_arr_train, r_score_arr_train, 
corr_arr_test, mae_arr_test, mse_arr_test, r_score_arr_test


data = {'source':['training', 'training', 'training', 'training', 
                  'testing', 'testing', 'testing', 'testing'], 
       'metric_name':['correlation', 'MAE', 'MSE', 'r2score', 
                      'correlation', 'MAE', 'MSE', 'r2score'], 
        'value': [np.mean(x) for x in data_summary]}

In [31]:
from bokeh.sampledata.autompg import autompg as df
from bokeh.charts import BoxPlot, output_file, show, hplot

box = BoxPlot(df, values='mpg', label='cyl', title="Auto MPG Box Plot", width=400)
box2 = BoxPlot(df, values='mpg', label='cyl', color='cyl',
                  title="MPG Box Plot by Cylinder Count", width=400)

output_file('box.html')
show(hplot(box, box2))

,mpg,cyl,displ,hp,weight,accel,yr,origin,name
0,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15,8,350,165,3693,11.5,70,1,buick skylark 320
2,18,8,318,150,3436,11.0,70,1,plymouth satellite
3,16,8,304,150,3433,12.0,70,1,amc rebel sst
4,17,8,302,140,3449,10.5,70,1,ford torino
5,15,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14,8,454,220,4354,9.0,70,1,chevrolet impala
7,14,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14,8,455,225,4425,10.0,70,1,pontiac catalina
9,15,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15,8,383,170,3563,10.0,70,1,dodge challenger se
11,14,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22,6,198,95,2833,15.5,70,1,plymouth duster
16,18,6,199,97,2774,15.5,70,1,amc hornet
17,21,6,200,85,2587,16.0,70,1,ford maverick
18,27,4,97,88,2130,14.5,70,3,datsun pl510
19,26,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25,4,110,87,2672,17.5,70,2,peugeot 504
21,24,4,107,90,2430,14.5,70,2,audi 100 ls
22,25,4,104,95,2375,17.5,70,2,saab 99e
23,26,4,121,113,2234,12.5,70,2,bmw 2002
24,21,6,199,90,2648,15.0,70,1,amc gremlin
25,10,8,360,215,4615,14.0,70,1,ford f250
26,10,8,307,200,4376,15.0,70,1,chevy c20
27,11,8,318,210,4382,13.5,70,1,dodge d200
28,9,8,304,193,4732,18.5,70,1,hi 1200d
29,27,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
362,28,4,112,88,2605,19.6,82,1,chevrolet cavalier
363,27,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
364,34,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
365,31,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
366,29,4,135,84,2525,16.0,82,1,dodge aries se
367,27,4,151,90,2735,18.0,82,1,pontiac phoenix
368,24,4,140,92,2865,16.4,82,1,ford fairmont futura
369,36,4,105,74,1980,15.3,82,2,volkswagen rabbit l
370,37,4,91,68,2025,18.2,82,3,mazda glc custom l
371,31,4,91,68,1970,17.6,82,3,mazda glc custom
372,38,4,105,63,2125,14.7,82,1,plymouth horizon miser
373,36,4,98,70,2125,17.3,82,1,mercury lynx l
374,36,4,120,88,2160,14.5,82,3,nissan stanza xe
375,36,4,107,75,2205,14.5,82,3,honda accord
376,34,4,108,70,2245,16.9,82,3,toyota corolla
377,38,4,91,67,1965,15.0,82,3,honda civic
378,32,4,91,67,1965,15.7,82,3,honda civic (auto)
379,38,4,91,67,1995,16.2,82,3,datsun 310 gx
380,25,6,181,110,2945,16.4,82,1,buick century limited
381,38,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
382,26,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
383,22,6,232,112,2835,14.7,82,1,ford granada l
384,32,4,144,96,2665,13.9,82,3,toyota celica gt
385,36,4,135,84,2370,13.0,82,1,dodge charger 2.2
386,27,4,151,90,2950,17.3,82,1,chevrolet camaro
387,27,4,140,86,2790,15.6,82,1,ford mustang gl
388,44,4,97,52,2130,24.6,82,2,vw pickup
389,32,4,135,84,2295,11.6,82,1,dodge rampage
390,28,4,120,79,2625,18.6,82,1,ford ranger
391,31,4,119,82,2720,19.4,82,1,chevy s-10

In [33]:
import numpy as np
import matplotlib.pyplot as plt

N = 5
menMeans = (20, 35, 30, 35, 27)
menStd = (2, 3, 4, 1, 2)

ind = np.arange(N)  # the x locations for the groups
width = 0.35       # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(ind, menMeans, width, color='r', yerr=menStd)

womenMeans = (25, 32, 34, 20, 25)
womenStd = (3, 5, 2, 3, 3)
rects2 = ax.bar(ind + width, womenMeans, width, color='y', yerr=womenStd)

# add some text for labels, title and axes ticks
ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.set_xticks(ind + width)
ax.set_xticklabels(('G1', 'G2', 'G3', 'G4', 'G5'))

ax.legend((rects1[0], rects2[0]), ('Men', 'Women'))


def autolabel(rects):
    # attach some text labels
    for rect in rects:
        height = rect.get_height()
        ax.text(rect.get_x() + rect.get_width()/2., 1.05*height,
                '%d' % int(height),
                ha='center', va='bottom')

autolabel(rects1)
autolabel(rects2)

plt.show()

/usr/local/lib/python2.7/dist-packages/matplotlib/collections.py:590: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == str('face'):

In [34]:
from sklearn.cross_validation import KFold
x = np.random.rand(200, 7)
y = np.random.rand(200, 1500)

In [43]:
# To test how to stack all coef_array
coeff_all = np.zeros((1500,8))
for i in range(5):
    coef_one = np.ones((1500, 8))
    coeff_all = coeff_all + coef_one

In [45]:
coeff_all = coeff_all/5

In [46]:
coeff_all

array([[ 1.,  1.,  1., ...,  1.,  1.,  1.],
       [ 1.,  1.,  1., ...,  1.,  1.,  1.],
       [ 1.,  1.,  1., ...,  1.,  1.,  1.],
       ...,
       [ 1.,  1.,  1., ...,  1.,  1.,  1.],
       [ 1.,  1.,  1., ...,  1.,  1.,  1.],
       [ 1.,  1.,  1., ...,  1.,  1.,  1.]])

In [51]:
coeff_all[1,3]=float('NaN')

In [49]:
    isnan_index = np.nonzero(np.isnan(correlation_list_acc))
    correlation_list_acc = np.delete(correlation_list_acc, isnan_index)

In [52]:
isnan_index = np.nonzero(np.isnan(coeff_all))

In [53]:
isnan_index

(array([1]), array([3]))